@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  height: 4px;
  width: 100%;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

.input-text {
  @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300 placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:ring-gray-200 sm:text-sm sm:leading-6 px-4
}

.input-email{
  @apply block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6 px-4
}


@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}





.page-footer,
.page-footer-space {
  height: 60px;

}

.page-footer {
  position: fixed;
  bottom: 0;
  visibility: hidden;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.page-container {
  width: 21cm;
}

.page {
  page-break-after: always;

  min-height: 29.7cm;
  border: 1px solid rgba(0, 0, 0, 0.304);
  padding: 20px 20px;
  margin-bottom: 0.5cm;

}

@page {
  margin: 20mm
}

@media print {
  .page {
    border: none;

  }

  .page-footer {
    visibility: visible;
  }

  tfoot {
    display: table-footer-group;
  }

  body {
    margin: 0;
  }
}


/* HTML: <div class="loader"></div> */
.loader2 {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
    100% {background-size:120% 100%}
}